<div class="container">
  <div class="row my-1">
<!-- Choice 1 for slideshow -->
    <div class="choice1 col-xs-12 col-md-4 ">
        <div class="col-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control form-control-borderless" type="search" placeholder="Rechercher">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>

          <div class="bg-light mx-auto">
            <img [src]="url" height="200"><br />
          </div>

        <div class="col-12">
          <form class="d-flex justify-content-center">
            <input class="form-control" type="text" placeholder="Titre">
          </form>
          <div class="form-group">
              <label for="FormControlTextArea"></label>
              <textarea maxlength="50" class="form-control" id="TextArea" placeholder="Message" rows="4"></textarea>
            </div>
        </div>
        <div class="buttonPanel d-flex justify-content-around">
        <button type="save" class="btn btn-primary ">Valider</button>
        <button type="reset" class="btn btn-primary">Effacer</button>
      </div>
      </div>
    
      



<!-- Choice 2 for slideshow -->

<div class="choice2 col-xs-12 col-md-4">
    <div class="col-12">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input class="form-control form-control-borderless" type="search" placeholder="Rechercher">
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

      <div class="bg-light mx-auto">
        <img [src]="url" height="200"><br />
      </div>

    <div class="col-12">
      <form class="d-flex justify-content-center">
        <input class="form-control" type="text" placeholder="Titre">
      </form>
      <div class="form-group">
          <label for="FormControlTextArea"></label>
          <textarea maxlength="50" class="form-control" id="TextArea" placeholder="Message" rows="4"></textarea>
        </div>
    </div>
    <div class="buttonPanel d-flex justify-content-around">
    <button type="save" class="btn btn-primary ">Valider</button>
    <button type="reset" class="btn btn-primary">Effacer</button>
  </div>
  </div>
<!-- Choice 3 for slideshow -->

<div class="choice3 col-xs-12 col-md-4">
    <div class="col-12">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input class="form-control form-control-borderless" type="search" placeholder="Rechercher">
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

      <div class="bg-light mx-auto">
        <img [src]="url" height="200"><br />
      </div>

    <div class="col-12">
      <form class="d-flex justify-content-center">
        <input class="form-control" type="text" placeholder="Titre">
      </form>
      <div class="form-group">
          <label for="FormControlTextArea"></label>
          <textarea maxlength="50" class="form-control" id="TextArea" placeholder="Message" rows="4"></textarea>
        </div>
    </div>
    <div class="buttonPanel d-flex justify-content-around">
    <button type="save" class="btn btn-primary ">Valider</button>
    <button type="reset" class="btn btn-primary">Effacer</button>
  </div>
  </div>  



  </div>
</div>

