<div class="container">

  <h1 class="text-center p-4">{{ product.productName }}</h1>

  <div class="text-center" >
    <img 
    src="{{ product.image }}"
    default="https://via.placeholder.com/150x150" 
    class="img"
    (click)="openMedia(content)"
    >
  </div>

  <p *ngIf="product.ingredients">Ingrédients : {{ product.ingredients }}</p>
    <p *ngIf="product.allergenes && product.allergenes.length > 1">Allergenes : {{ product.allergenes.join(', ') }}</p>
    <p *ngIf="product.allergenes && product.allergenes.length == 1">Allergenes : {{ product.allergenes }}</p>


    <table class="table table-striped table-inverse table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Énergie :</td>
          <td 
          *ngIf="product.nutritional_value.energy">{{ product.nutritional_value.energy }}kcal</td>
          <td *ngIf="!product.nutritional_value.energy">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Lipides :</td>
          <td 
          *ngIf="product.nutritional_value.lipides">{{ product.nutritional_value.lipides }}g</td>
          <td *ngIf="!product.nutritional_value.lipides">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Acide gras saturé :</td>
          <td *ngIf="product.nutritional_value.saturated_fat">{{ product.nutritional_value.saturated_fat }}g</td>
          <td *ngIf="!product.nutritional_value.saturated_fat">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Glucides :</td>
          <td *ngIf="product.nutritional_value.glucides">{{ product.nutritional_value.glucides }}g</td>
          <td *ngIf="!product.nutritional_value.glucides">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Sucre :</td>
          <td *ngIf="product.nutritional_value.sugar">{{ product.nutritional_value.sugar }}g</td>
          <td *ngIf="!product.nutritional_value.sugar">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Fibres alimentaires :</td>
          <td *ngIf="product.nutritional_value.fibres_alimentaires">{{ product.nutritional_value.fibres_alimentaires }}g</td>
          <td *ngIf="!product.nutritional_value.fibres_alimentaires">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Protéines :</td>
          <td *ngIf="product.nutritional_value.proteines">{{ product.nutritional_value.proteines }}g</td>
          <td *ngIf="!product.nutritional_value.proteines">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Sel :</td>
          <td *ngIf="product.nutritional_value.salt">{{ product.nutritional_value.salt }}g</td>
          <td *ngIf="!product.nutritional_value.salt">Valeur non renseignée</td>
        </tr>
  
        <tr>
          <td>Sodium :</td>
          <td *ngIf="product.nutritional_value.sodium">{{ product.nutritional_value.sodium }}g</td>
          <td *ngIf="!product.nutritional_value.sodium">Valeur non renseginée</td>
        </tr>
      </tbody>
    </table>
  
  <div class="text-center pb-3">
    <button *ngIf="!productService.isSet(product) && !productService.isComparatorSet()"
    type="button" class="btn text-center" 
    [disabled]="this.productService.isSet(product)" 
    (click)="this.productService.getItem(product)"
    >Comparer</button>

    <p *ngIf='!productService.isSet(product) && productService.isComparatorSet()'
    class="text-danger text-center">Le comparateur est déjà complet</p>


    <p *ngIf='productService.isSet(product)'
    class="text-danger text-center">Ce produit à déjà été ajouté au comparateur</p>
  </div>

</div>
