
<div id="contact-form" class="d-flex justify-content-center">
    
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div>
            <h1 class="label">Something is bothering you?</h1> 
            <h4 class="label">Send us a message!</h4> 
        </div>
        <div>
            <label for="name">
                <span>Name: *</span> 
                <input [ngClass]="{'has-error': n.invalid && form.submitted}" required="required" [(ngModel)]="name" #n="ngModel" type="text" name="name" placeholder="Your Name" autofocus="autofocus"/>
            </label> 
        </div>
        <div>
            <label for="email">
                <span>Email: *</span>
                <input type="email" id="email" name="email" value="" placeholder="Your Email" />
            </label>  
        </div>
        <div>		          
            <label for="subject">
                <span>Subject: </span>
                <select id="subject" name="subject">   
                    <option>Product Review</option>
                    <option>Nutritional Matter</option>  
                    <option>Website improvement</option>
                </select>
            </label>
        </div>
        <div>		          
            <label for="message">
                <span>Message: *</span> 
                <textarea id="message" name="message" placeholder="Please write your message here."></textarea> 
            </label>  
        </div>
        <div>		           
            <button name="submit" type="submit" id="submit" >SEND</button> 
        </div>
    </form>
    
</div>
