#contact-form {
    background:url(./Img/wedding-invitations-templates-best-of-healthy-italian-food-background-food-amp-drink-s-of-wedding-invitations-templates.jpeg) no-repeat;
    background-size: cover;
    height:100%;
    background-color: #000;
 }

 h1 {
    margin: 10px 0 0 0;
 }
 h4{
    margin: 0 0 20px 0;
 }
 form {
    background-color:rgba(158, 156, 156, 0.7);
    padding: 10px 20px 40px 20px;
    
    margin-top:25px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
 }
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 15px;  
    margin-bottom: 2px;
   
   

 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #fff;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;
    
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: rgb(241, 240, 240); 
 }  
 #contact-form textarea {
    width:100%;
    height: 150px;
 }
 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    background-image:(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:hover {
    background-image:(bottom, #9C215A 0%, #A82767 52%);
    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 
 
 @media only screen and (max-width: 580px) {
    /*#contact-form{
       left: 3%;
       margin-right: 3%;
       
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }*/
    form .label{
        font-size: 20px;
    }
 }
