<app-carousel></app-carousel>

<div class="container text-center">
  <h1 class="text-center pt-5">Found Eat !</h1>
  <p>Bienvenue sur notre site ! Il vous permettra de comparer les apports nutritifs des différents produits qui y sont
    référencés. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae cum ducimus repellat nemo est
    excepturi modi pariatur iure necessitatibus explicabo ut dolor eveniet, expedita? Aliquam quisquam delectus ab
    voluptates.</p>
</div>


<h3 class="text-center pt-4">Derniers produits ajoutés :</h3>

<div class="container pb-5 pt-2">
  <div class="row">

    <div *ngFor="let product of products" class="col-12 col-sm-6 col-md-4 col-lg-3 col-cards">

      <div class="card">

        <div class="text-center pt-3">

          <img src="{{ product.image }}" default="https://via.placeholder.com/150x150" class="img" (click)="openMedia(content)">

        </div>

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text"></p>
          <a class="btn mt-auto text-white" (click)="openMedia(content)">Voir plus</a>
        </div>

      </div>

      <ng-template #content let-modal>
        <app-modal [mediaInput]="product" [modalInput]="modal"></app-modal>
      </ng-template>

    </div> <!-- #end card -->

  </div> <!-- #end row -->

</div>
