
.hamberger-sidebar {
  display: none;
  position: fixed;
  width: 280px;
  height: 450px;
  top: 0;
  left: 0;
  background-color: #0D4E37;
  transform: translateX(-105%);
  transition-duration: 1s;
  border: 4px solid black;
  z-index: 0;
  box-shadow: 3px 3px 8px gray;

}

.hamberger-sidebar-header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-image: url(https://i-sam.unimedias.fr/2017/11/22/legumes.jpg?auto=format%2Ccompress&crop=faces&cs=tinysrgb&fit=crop&h=388&w=690);

}

.hamberger-sidebar-body {

  padding-top:4em;
  text-align: left;
  color: #fff;
}

.hamberger-sidebar li {
  display: block;
  padding-top: 1em;

}
h3 {
  margin-top: 6%;
  text-align: center;
  font-size: 30px;
  color: #fff;
}





@media screen and (max-width:1024px) {

  .hamberger-sidebar {
    display: block;


  }

  .hamberger-sidebar.collapse.show {
    transform: translateX(0%);
    transition-duration: 1s;
  }
}




