/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Acme|Roboto');

body{
	background-color: #EEEEEF;
	font-family: Roboto;
}
html, body {
    height: 100%;
    margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Acme;
}

