
<!-- Carousel -->
  <ngb-carousel #carousel="ngbCarousel" [showNavigationIndicators]="false" *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="text-center" id="img-ctn">
        <img [src]="image.src" class="img-fluid">
        <div class="carousel-caption">
          <div class="jumbotron">
            <h3>{{image.name}}</h3>
            <p>{{image.description}}</p>
            <a class= "btn btn-primary" href="#" role="button">Learn More</a>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
