/* Background Image */

.container-fluid{
    background: url("https://en.zopix.net/image_upload/203814-agriculture-blur-carrots-close.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%
}

/* Top Panel Styling */

.panel i{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.panel h2{
    color:#444444;
    font-size: 20px;
    margin: 0 0 8px 0;
    text-align: center;
    letter-spacing: 1px;
}

.panel p{
    font-size: 14px;
    margin-bottom:30px;
    line-height:24px;
}

/* Main form styling */

.main {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    max-width:100%;
    padding: 50px 70px 70px 71px;
}

/* Bottom Panel Styling */

.forgot{
    text-align: left;
    margin-bottom: 30px;
}

.forgot a{
    color: #777777;
    font-size:14px;
    text-decoration: underline;
}

.btn.btn-primary{
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    opacity: 0.8 ;
    color: #ffffff;
    font-size:16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    height: 50px;
    line-height:50px;
    padding: 0;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.btn.btn-primary:hover{
    opacity:1;
}



