<div class="container-fluid d-flex justify-content-center align-items-center">
  <div>
    <div class="main">
      <div class="panel">
        <i class="fas fa-user-lock fa-3x  "></i>
        <h2>Admin</h2>
        <p>Please enter your email and password</p>
      </div>
      <div class="form-group">
        <input [(ngModel)]="email" type="text" class="form-control" id="inputEmail" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input [(ngModel)]="password" type="text" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label class="checkbox"><input type="checkbox">Remember me</label>
      </div>
      <div class="forgot">
        <a href="#">Forgot Password?</a>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>
</div>
