<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ mediaInput.product_name }}</h4>
    <button type="button" class="close" (click)="modalInput.dismiss('')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- infos goes here -->

    <div class="text-center pb-4">
      <img 
      src="{{mediaInput.image}}"
      default="https://via.placeholder.com/150x150"
      class="img"
      >
    </div>



    <h5 *ngIf="mediaInput.brands">Marque : {{ mediaInput.brands }}</h5>

    <p *ngIf="mediaInput.quantity">Quantité {{ mediaInput.quantity }}</p>

    <p *ngIf="mediaInput.ingredients">Ingrédients : {{ mediaInput.ingredients }}</p>

    <h6>Valeurs Nutritives pour 100g / 100ml</h6>

    <p *ngIf="mediaInput.nutritional_value.energy">energy : {{ mediaInput.nutritional_value.energy }}kcal</p>

    <p *ngIf="mediaInput.nutritional_value.lipides">lipides : {{ mediaInput.nutritional_value.lipides }}g</p>
    <p *ngIf="mediaInput.nutritional_value.saturated_fat">Acide gras saturé : {{ mediaInput.nutritional_value.saturated_fat }}g</p>

    <p *ngIf="mediaInput.nutritional_value.glucides">glucides : {{ mediaInput.nutritional_value.glucides }}g</p>

    <p *ngIf="mediaInput.nutritional_value.sugar">sugar : {{ mediaInput.nutritional_value.sugar }}g</p>

    <p *ngIf="mediaInput.nutritional_value.fibres_alimentaires">fibres_alimentaires : {{ mediaInput.nutritional_value.fibres_alimentaires }}g</p>

    <p *ngIf="mediaInput.nutritional_value.proteines">Protéines : {{ mediaInput.nutritional_value.proteines }}g</p>

    <p *ngIf="mediaInput.nutritional_value.salt" >Sel : {{ mediaInput.nutritional_value.salt }}g</p>

    <p *ngIf="mediaInput.nutritional_value.sodium" >sodium : {{ mediaInput.nutritional_value.sodium }}g</p>


    <div *ngIf="!mediaInput.nutritional_value">
      <p class="text-center">Valeurs nutritives non renseigné</p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalInput.dismiss()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="modalInput.close(mediaInput.product_name); getItem()">Comparer</button>
  </div>
</div>
