<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-about wow fadeInUp">
          <img class="logo-footer" src="http://toulouse.aujourdhui.fr/uploads/assets/evenements/recto_fiche/2016/07/708059_journees-portes-ouvertes-wild-code-school-toulouse_195955.png" alt="logo-footer">
          <div class=" footer-copyright">
             <a href="https://wildcodeschool.fr/" target="_blank">© WCS</a>
              <p><span>All Rights Reserved</span></p>
          </div>
              </div>

        <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
          <h3>Contact</h3>
              <p><i class="fas fa-map-marker-alt"></i> Wild Code School,
                MAME, 49 Boulevard Preuilly, 37000 Tours</p>
              <p><i class="fas fa-phone"></i>Phone : 06 40 95 34 98</p>
              </div>
              <div class="col-md-4 footer-links wow fadeInUp">
                <div class="row">
                  <div class="col">
                    <h3>Links</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p><a class="scroll-link" href="#top-content">About</a></p>
                    <p><a href="#">Terms and conditions</a></p>
                    <p><a href="https://fr.openfoodfacts.org/" target="_blank">Open Food Facts</a></p>
                    <p><a href="https://wildcodeschool.fr/" target="_blank">Wild Code School</a></p>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
           <div class="col-md-6 footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a> 
      <a href="#"><i class="fab fa-twitter"></i></a> 
      <a href="#"><i class="fab fa-google-plus-g"></i></a> 
      <a href="#"><i class="fab fa-instagram"></i></a> 
      <a href="#"><i class="fab fa-pinterest"></i></a>
              </div>
         </div>
    </div>
  </div>
</footer>