<div class="nbar ">
  <nav class=" navbar navbar-expand-lg navbar-light navbar-fixed-top ">


    <a class="navbar-brand d-flex w-50 mr-auto">logo</a><!-- utilisation de flex taille et margin pour que le logo soit toute droite -->



    <button class="navbar-toggler" type="button" (click)="isCollapsed =!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse w-100 d-none d-lg-block" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto w-50 justify-content-center">

        <li class="nav-item active">
          <a class="nav-link text-white font-weight-bold  " href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold  " href="#">Comparateur</a>
        </li>


        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold " > Recherche&nbsp;avancée</a>

          </li>

      </ul>

      <form class="d-flex form-inline d-sm-none d-none d-lg-block justify-content-end">

          <input class="form-control  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success " type="submit"> <i class="fas fa-search"></i></button>

      </form>

    </div>

  </nav>








<div class="hamberger-sidebar " [ngbCollapse]="isCollapsed ">




  <div class="hamberger-sidebar-header ">
    <h3>Found-eat</h3>


  </div>
  <div class="row w-20 offset-2 p-rigth-100">

    <div class="hamberger-sidebar-body">

      <nav class="navbar  navbar-light  ">
        <ul class="navbar-nav mr-auto navbar-light ">
          <li class="nav-item active">
            <a class="nav-link text-white font-weight-bold " href="#"><i class="fas fa-home"></i> Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white font-weight-bold" href="#">
              <i class="fas fa-balance-scale"></i> Comparateur</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link text-white font-weight-bold " href="#">
              <i class="fas fa-sliders-h"></i> Recherche avancée</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white font-weight-bold" href="#" data-toggle="modal" data-target="#Ajouti"><i class="fas fa-envelope-open-text"></i> add</a>
          </li>

        </ul>
        <form class="form-inline ">


          <input class="form-control col-6 " type="search" placeholder="Search" aria-label="Search">

          <button id='loop' class=" btn btn-outline-success  " type="submit"> <i class="fas fa-search"></i></button>

        </form>

      </nav>
    </div>
  </div>
</div>

<app-ajout></app-ajout>
