<div class="nbar ">
  <nav class=" navbar navbar-expand-lg navbar-light p-3 mb-5 fixed-top">
     
    <a class="navbar-brand d-flex pr-5 mr-auto "></a><!-- utilisation de flex taille et margin pour que le logo soit toute droite -->
    <img src="../../assets/235d6dec-87f7-4ec2-9ea9-892d103e10df.png" alt="logo" class="logo"/>
    



    <button class="navbar-toggler" type="button" (click)="isCollapsed =!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse w-100 mx-auto d-none d-lg-block" id="navbarSupportedContent">


        <li class="nav-item active">
          <a class="nav-link text-white font-weight-bold  " href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold  " href="#">Comparateur</a>
        </li>

      <ul class="navbar-nav mx-auto w-80 justify-content-center ">

        <li class="nav-item active">
          <a class="nav-link text-white font-weight-bold pr-4 " routerLink="acceuil" routerLinkActive="text-warning"><i
              class="icon fas fa-home"></i>Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold " > Recherche&nbsp;avancée</a>

          </li>

        <li class="nav-item active">
          <a class="nav-link text-white font-weight-bold pr-4 " routerLink="gallery" routerLinkActive="text-warning">
            <i class="icon fas fa-utensils"></i>Produits</a>
        </li>


        <li *ngIf="!loginService.isAuth" class="nav-item ">
          <a class="nav-link text-white font-weight-bold pr-4 " routerLink="comparateur" routerLinkActive="text-warning">
            <i class="icon fas fa-balance-scale "></i>Comparer</a>
        </li>


        <li *ngIf="!loginService.isAuth" class="nav-item">
          <a class="nav-link text-white font-weight-bold pr-4" routerLink="contact" routerLinkActive="text-warning"><i
              class="icon fas fa-envelope-open-text"></i>Contact</a>
        </li>


        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold pr-4" href="#"><i class="icon fas fa-search-plus"></i>Recherche
            avancée</a>
        </li>

        <li *ngIf="loginService.isAuth" class="nav-item">
          <a class="nav-link text-white font-weight-bold pr-2" href="#"><i class="icon fas fa-folder-plus"></i>Ajouter</a>
        </li>

        <li *ngIf="loginService.isAuth" class="nav-item">
          <button class="btn btn-warning" (click)="logout()">Déconnexion</button>
        </li>

      </ul>





      <form class="d-flex form-inline d-sm-none d-none d-lg-block justify-content-end">

        <app-typehead></app-typehead>

      </form>

    </div>


  </nav>

  <app-sidebar [isCollapsed]="!isCollapsed" [isAuth]="isAuth" (notifyCollapse)="onCollapse($event)"></app-sidebar>
