.nbar {
  width: 100%;
  background-color: #0D4E37;
  z-index: 0;
  padding-bottom: 70px;
}

.icon {
  padding-right: 3px;
}

nav {
  background-color: #0D4E37;
}

@media screen and (max-width:1024px) {

  .hamberger-sidebar {
    display: block;
  }

  .hamberger-sidebar.collapse.show {
    transform: translateX(0%);
    transition-duration: 1s;
  }

  h3 {
    margin-top: 6%;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }

  .hamberger-sidebar-body {
    padding-top: 55%;
    font-size: 15px;
  }
}

@media screen and (max-width: 1035px) {
  ul li a {
    font-size: 0.9em;
  }
}

.test {
  color: #F3AB2A;
}

.logo {
  position: fixed;
  width: 70px;

}

.btn{
  background-color: #0D4E37;
  color: #ffffff;
  position: relative;
  right: 10px;
}

.cross{
color:#ca0b0b;
margin-left: auto;
margin-right: auto;
margin-bottom: 3px;
}