
<h1 class=" text-alingn-center "> Ajout et Modification </h1>



  <div class="row">
    <div class="présentation col-6 ">
      <h2>Vue du produit</h2>
      <!-- Lié au formulaire, La présentation du produit c'est à dire la fiche du produit se complétera en même temps que le formulaire. -->
      <h2>{{ product.nom }}</h2>
      <img [src]="url" height="200"><br/>

      <p>Quantité : {{ product.quantite }}</p>
      <p>Ingrédient : {{ product.ingredient }}</p>
      <p>Valeur nutritive: {{ product.valeur }}</p>
      <p>Energie: {{ product.energie }}</p>
      <p>Lipide: {{ product.lipide }}</p>
      <p>Acide gras saturé: {{ product.acide }}</p>
      <p>Glucide: {{ product.glucide }}</p>
      <p>Sucre : {{ product.sucre }}</p>
      <p>Fibre alimentaire: {{ product.fibre }}</p>
      <p>Protéine: {{ product.proteine }}</p>
      <p> Sel: {{ product.sel }}</p>
      <p>Sodium : {{ product.sodium }}</p>
    </div>

    <div class="formulaire col-6">
        <h2> tableau de bord </h2>

        <form>
            <div class="form-group">

              <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onSelecfile($event)" [(ngModel)]="image" name="image" >
            </div>
          </form>




      <!-- Le formulaire en lui même. il aura un Titre = Nom du produit. il aura la possibilié de rechercher un produit -->
      <div class="form-group">
        <form>

          <label for="exampleFormControlInput1">Nom du produit</label> <!-- nom du produit -->
          <input type="email" class="form-control" id="NProd" placeholder="name" [(ngModel)]="product.nom" name="nom">


          <div class="form-group">
            <label for="exampleFormControlSelect1">Catégorie de produits </label> <!-- catégorie -->
            <select class="form-control" id="SelecCatégorie">
              <option>Plat préparer</option>
              <option>Conserve</option>
              <option>Produit laitié</option>
              <option>Boisson</option>
              <option>Confiserie</option>
              <option>Chips</option>
              <option>Céréale</option>
              <option>Petit déjeuner</option>
              <option>snacks sucrés</option>
              <option>Viandes</option>
            </select>
          </div>

          <label for="exampleFormControlInput1">Quantité</label> <!-- nom du produit -->
          <input type="email" class="form-control" id="Qua" placeholder="kilogramme ou litre" [(ngModel)]="product.quantite" name="qua">

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Ingrédient</label><!-- ingrédient -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="product.ingredient" name="ingrédient"></textarea>
          </div>


          <div class="row">

            <!-- Information du produit -->
            <div class="col">
              <input type="text" class="form-control" placeholder="Valeur nutritive (kcal)" [(ngModel)]="product.valeur" name="valeur_nutritive">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Energie" [(ngModel)]="product.energie" name="energie">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Lipide" [(ngModel)]="product.lipide" name="lipide">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Acide gras saturé" [(ngModel)]="product.acide" name="acide">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Glucide" [(ngModel)]="product.glucide" name="glucide">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sugar" [(ngModel)]="product.sucre" name="sugar">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Fibre alimentaire" [(ngModel)]="product.fibre" name="fibre">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="protéine" [(ngModel)]="product.proteine" name="protéine">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Sel" [(ngModel)]="product.sel" name="sel">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sodium" [(ngModel)]="product.sodium" name="sodium">
            </div>
          </div>

        </form>

        <button class ='btn btn-success' (click) = "add()"> Sauvegarder </button>

        <div class="symbole">
          <!-- Symbole de qualité -->


        </div>

      </div>


